.inter-normal {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-y;
}

input,
textarea {
  touch-action: pan-y;
}

.add-task__window {
  position: absolute;
  width: 90vw;
  height: 80vh;
  padding: 1rem 1rem;
  top: 50%;
  left: 108%;
  transform: translateY(-50%);
  background: linear-gradient(90deg, #303059 0%, #6666bf 100%);
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 10px 3px #80b3ff;
  border-radius: 14px;
  z-index: 2;
  transition: transform 0.5s;
}
.add-task__window .new-task {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.add-task__window .new-task__title {
  width: 100%;
  margin-bottom: 1rem;
}
.add-task__window .new-task__title__label {
  display: block;
  padding: 0.5rem 0;
  padding-left: 0.5rem;
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
  color: #fff;
}
.add-task__window .new-task__title__input {
  width: 100%;
  padding: 2rem 0;
  padding-left: 1.5rem;
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  font-size: 2rem;
  background-color: #121547;
  color: #fff;
  overflow: hidden;
}
.add-task__window .new-task__title__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.add-task__window .new-task__title__input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.add-task__window .new-task__metadata {
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 1rem;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}
.add-task__window .new-task__metadata__importance {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 0 1.5rem;
}
.add-task__window .new-task__metadata__importance__p {
  color: #fff;
  font-size: 1.6rem;
}
.add-task__window .new-task__metadata__importance__checkbox {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #000;
  cursor: pointer;
}
.add-task__window .new-task__metadata__importance__checkbox img {
  display: none;
  width: 100%;
  height: 100%;
}
.add-task__window .new-task__metadata__deadline {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  margin-bottom: 2rem;
}
.add-task__window .new-task__metadata__deadline__p {
  color: #fff;
  font-size: 1.6rem;
  align-content: center;
}
.add-task__window .new-task__metadata__deadline input[type=date] {
  position: relative;
  display: block;
  width: 40%;
  height: 100%;
  padding: 1.5rem 0.5rem;
  text-align: center;
  color: #fff;
  background-color: #121547;
  border-radius: 15px;
  border: none;
  overflow: hidden;
}
.add-task__window .new-task__metadata__deadline input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  background: transparent;
  color: transparent;
}
.add-task__window .new-task__description {
  width: 100%;
  flex: 1;
  margin-bottom: 2rem;
  touch-action: auto;
}
.add-task__window .new-task__description__textarea {
  width: 100%;
  height: 100%;
  padding: 1.5rem 1.5rem;
  background: #121547;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  font-size: 2rem;
  color: #fff;
  resize: none;
  touch-action: auto;
}
.add-task__window .new-task__description__textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.add-task__window .new-task__description__textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.add-task__window .new-task__buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  margin-bottom: 2rem;
}
.add-task__window .new-task__buttons__button {
  display: block;
  width: 30%;
  padding: 1.5rem 0;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 0px 6px #80b3ff;
  background: none;
  cursor: pointer;
}
.add-task__window .new-task__buttons__button .button-label {
  height: 100%;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.2rem;
  align-content: center;
}
.add-task__window .new-task__buttons__button__close {
  background-color: #e14b3e;
}
.add-task__window .new-task__buttons__button__add-next {
  background-color: #adadad;
}
.add-task__window .new-task__buttons__button__insert {
  background-color: #73aa6e;
}
.add-task__window .new-task__state {
  width: 100%;
  padding: 2rem 0;
  padding-left: 0.5rem;
  color: #fff;
  font-size: 1.7rem;
  align-content: center;
}

.add-task__window__show {
  transform: translateX(-115%) translateY(-50%);
}

@media screen and (max-height: 568px) {
  .add-task__window {
    height: 95vh;
  }
  .add-task__window .new-task__metadata__deadline input[type=date] {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .add-task__window {
    height: 60vh;
  }
}
@media screen and (min-width: 1200px) {
  .add-task__window {
    width: 80%;
    height: 65vh;
  }
  .add-task__window__show {
    transform: translateX(-122.5%) translateY(-50%);
  }
}
.task-preview__window {
  position: absolute;
  width: 90vw;
  height: 80vh;
  left: -95%;
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(90deg, #303059 0%, #6666bf 100%);
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 10px 3px #80b3ff;
  border-radius: 14px;
  z-index: 2;
  transition: transform 0.5s;
  padding: 1rem;
}
.task-preview__window .task-preview {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.task-preview__window .task-preview__title__label {
  font-size: 1.8rem;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}
.task-preview__window .task-preview__title__value {
  flex: 1;
  max-height: 20%;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  padding: 0 0 2rem 0;
  border-bottom: 1px solid #fff;
  align-content: center;
  overflow-y: scroll;
}
.task-preview__window .task-preview__deadline {
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  padding: 2rem 0;
  border-bottom: 1px solid #fff;
}
.task-preview__window .task-preview__deadline__date {
  display: inline-block;
  font-size: 1.6rem;
}
.task-preview__window .task-preview__importance {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #fff;
}
.task-preview__window .task-preview__importance__label {
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  padding: 2rem 0;
}
.task-preview__window .task-preview__importance__icon {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 1rem;
}
.task-preview__window .task-preview__importance__value {
  display: inline-block;
  font-size: 1.6rem;
}
.task-preview__window .task-preview__description {
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
  padding: 2rem 0 1rem 0;
}
.task-preview__window .task-preview__description__value {
  flex: 1;
  font-size: 2rem;
  color: #fff;
  padding: 1rem 2rem;
  text-align: center;
  line-height: 1.2;
  border-bottom: 1px solid #fff;
  overflow-y: scroll;
}
.task-preview__window .task-preview__button {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 2rem 4rem;
  background: none;
  background-color: #e14b3e;
  box-shadow: 0px 0px 6px #80b3ff;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-size: 1.4rem;
  align-content: center;
  cursor: pointer;
}

.task-preview__window__show {
  transform: translateY(-50%) translateX(111%);
}

@media screen and (min-width: 768px) {
  .task-preview__window {
    height: 60vh;
  }
  .task-preview__window .task-preview__deadline {
    font-size: 2rem;
  }
  .task-preview__window .task-preview__deadline__date {
    font-size: 2rem;
    margin-left: 1rem;
  }
  .task-preview__window .task-preview__importance__label {
    font-size: 2rem;
  }
  .task-preview__window .task-preview__importance__value {
    margin-left: 1rem;
    font-size: 2rem;
  }
  .task-preview__window .task-preview__description__value {
    padding: 2rem 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .task-preview__window {
    width: 80%;
    height: 65vh;
  }
  .task-preview__window__show {
    transform: translateX(131.5%) translateY(-50%);
  }
}
.edit-task__window {
  position: absolute;
  width: 90vw;
  height: 80vh;
  left: -95%;
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(90deg, #303059 0%, #6666bf 100%);
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 10px 3px #80b3ff;
  border-radius: 14px;
  z-index: 2;
  transition: transform 0.5s;
  padding: 1rem;
}
.edit-task__window .edit-task {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.edit-task__window .edit-task__title {
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid #fff;
}
.edit-task__window .edit-task__title__label {
  display: block;
  font-size: 1.8rem;
  text-align: center;
  color: #fff;
  margin-bottom: 1rem;
}
.edit-task__window .edit-task__title__input {
  display: block;
  width: 100%;
  font-size: 2rem;
  padding: 2rem 0;
  padding-left: 1.5rem;
  color: #fff;
  background: none;
  background-color: #121547;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  overflow: hidden;
}
.edit-task__window .edit-task__deadline {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid #fff;
}
.edit-task__window .edit-task__deadline__label {
  color: #fff;
  font-size: 1.8rem;
  padding-left: 1.5rem;
  align-content: center;
  text-align: center;
}
.edit-task__window .edit-task__deadline__input {
  position: relative;
  display: block;
  width: 50%;
  padding: 1.5rem 0.5rem;
  text-align: center;
  color: #fff;
  background: none;
  background-color: #121547;
  border-radius: 15px;
  border: none;
  overflow: hidden;
}
.edit-task__window .edit-task__deadline__input::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  background: transparent;
  color: transparent;
}
.edit-task__window .edit-task__importance {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid #fff;
  margin-bottom: 1rem;
}
.edit-task__window .edit-task__importance__label {
  padding-left: 1.5rem;
  font-size: 1.8rem;
  color: #fff;
  align-content: center;
}
.edit-task__window .edit-task__importance__checkbox {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #000;
  cursor: pointer;
}
.edit-task__window .edit-task__importance__checkbox__icon {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.edit-task__window .edit-task__importance__checkbox .checked {
  opacity: 1;
}
.edit-task__window .edit-task__description {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid #fff;
}
.edit-task__window .edit-task__description__label {
  display: block;
  font-size: 1.8rem;
  text-align: center;
  color: #fff;
  margin-bottom: 1rem;
}
.edit-task__window .edit-task__description__textarea {
  width: 100%;
  padding: 2rem 1.5rem;
  flex: 1;
  resize: none;
  background: none;
  background-color: #121547;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  color: #fff;
  font-size: 2rem;
}
.edit-task__window .edit-task__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.edit-task__window .edit-task__buttons .edit-task__button {
  width: 40%;
  display: block;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  background: none;
  border: none;
  font-size: 1.6rem;
  color: #fff;
  box-shadow: 0px 0px 6px #80b3ff;
  border-radius: 15px;
  text-align: center;
  align-content: center;
  cursor: pointer;
}
.edit-task__window .edit-task__buttons .edit-task__button.cancel {
  background-color: #e14b3e;
}
.edit-task__window .edit-task__buttons .edit-task__button.save-changes {
  background-color: #73aa6e;
}

.edit-task__window__show {
  transform: translateX(111%) translateY(-50%);
}

@media screen and (max-height: 568px) {
  .edit-task__window {
    height: 95vh;
  }
}
@media screen and (min-width: 768px) {
  .edit-task__window {
    height: 60vh;
  }
}
@media screen and (min-width: 992px) {
  .edit-task__window .edit-task__buttons .edit-task__button {
    width: 30%;
  }
}
@media screen and (min-width: 1200px) {
  .edit-task__window {
    width: 80%;
    height: 65vh;
  }
  .edit-task__window .edit-task__buttons .edit-task__button {
    width: 20%;
  }
  .edit-task__window__show {
    transform: translateX(131.5%) translateY(-50%);
  }
}
body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #0b0b13;
}

.elipse {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 200px;
  border-radius: 50% 50%;
  transform: translateX(-15%) translateY(-18%);
  background: linear-gradient(180deg, rgba(50, 50, 94, 0.15) 4.81%, rgba(155, 155, 253, 0.15) 82.69%);
  z-index: -1;
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.5s;
}

header {
  margin-bottom: 5rem;
}
header h1 {
  width: 80%;
  margin: 0 auto;
  padding-top: 3.3rem;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 6.5rem;
  color: #fff;
  text-align: center;
  letter-spacing: -1.224px;
}
header h2 {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  color: #a1a1aa;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.34px;
}

main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 206px);
  width: 100%;
}
main .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 2560px;
}
main .wrapper .search-bar {
  width: 90%;
  height: 54px;
  margin: 0 auto;
  background: linear-gradient(90deg, #303059 0%, #6666bf 100%);
  border-radius: 14px;
  margin-bottom: 2rem;
}
main .wrapper .search-bar__input {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  padding-left: 1rem;
  font-size: 2rem;
  color: #fff;
}
main .wrapper .task-selectors {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .wrapper .task-selectors__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  width: 100%;
}
main .wrapper .task-selectors__box .task-selector__item {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
main .wrapper .task-selectors__box .task-selector__item__button {
  position: relative;
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #333;
  border: 2px solid #7c5cff;
  transition: background-color 0.3s;
}
main .wrapper .task-selectors__box .task-selector__item__button__switch {
  position: absolute;
  top: 50%;
  left: 0;
  width: 40%;
  height: 90%;
  border-radius: 20px;
  transform: translateY(-50%);
  background-color: #fff;
  transition: transform 0.5s, background-color 0.3s;
}
main .wrapper .task-selectors__box .task-selector__item__button .moved {
  transform: translateX(150%) translateY(-50%);
  background-color: rgba(255, 255, 255, 0.3);
}
main .wrapper .task-selectors__box .task-selector__item .active {
  background-color: #7fbd62;
}
main .wrapper .task-selectors__box .task-selector__item .disabled {
  opacity: 0.4;
}
main .wrapper .task-selectors__box .task-selector__item__description {
  width: 100%;
  font-size: 1.5rem;
  color: #a1a1aa;
  text-align: center;
}
main .wrapper .task-selectors__box .checking {
  display: none;
}
main .wrapper .task-selectors__box .removing {
  display: none;
}
main .wrapper .task-selectors .checking {
  justify-content: center;
}
main .wrapper .task-selectors .removing {
  justify-content: center;
}
main .wrapper .tasks-list {
  width: 90%;
  margin: 0 auto;
  flex: 1;
  display: block;
  overflow-y: scroll;
}
main .wrapper .tasks-list__element {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70px;
  max-height: 70px;
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 15px;
  background: linear-gradient(90deg, #303059 0%, #6666bf 100%);
  background-clip: padding-box;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border 0.3s, opacity 0.3s;
}
main .wrapper .tasks-list__element__name {
  height: 70px;
  flex: 1;
  padding-left: 1.5rem;
  font-size: 1.5rem;
  color: #fff;
  line-height: 70px;
  overflow: hidden;
}
main .wrapper .tasks-list__element__icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
main .wrapper .tasks-list__element__icons__status {
  padding: 0 1rem;
}
main .wrapper .tasks-list__element__icons__status__icon {
  display: block;
  width: 25px;
  height: 25px;
}
main .wrapper .tasks-list__element__icons__importance {
  padding: 0 1rem;
}
main .wrapper .tasks-list__element__icons__importance__icon {
  display: block;
  width: 25px;
  height: 25px;
}
main .wrapper .tasks-list__element__icons__checkbox {
  padding: 0 1rem;
  overflow: hidden;
}
main .wrapper .tasks-list__element__icons__checkbox__icon-box {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #fff;
}
main .wrapper .tasks-list__element__icons__checkbox__icon-box img {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
}
main .wrapper .tasks-list__element__icons__checkbox__icon-box .checked {
  opacity: 1;
}
main .wrapper .tasks-list__element:hover {
  border: 2px solid #fff;
}
main .wrapper .tasks-list .disabled {
  opacity: 0.4;
  pointer-events: none;
}
main .wrapper .tasks-list__empty {
  width: 80%;
  height: 50%;
  margin: 0 auto;
  font-size: 4rem;
  text-align: center;
  color: #a1a1aa;
  align-content: center;
  font-style: italic;
}
main .wrapper .selected-tasks-counter {
  width: 80%;
  margin: 0 auto;
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
  padding: 0.5rem 0;
}
main .wrapper .task-managment-panels {
  width: 90%;
  margin: 0 auto;
  height: 10vh;
  align-content: center;
}
main .wrapper .task-managment-panels .task-managment-panel {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
main .wrapper .task-managment-panels .task-managment-panel .task-manager {
  display: block;
  width: 45px;
  height: 45px;
  background: none;
  border: none;
  cursor: pointer;
}
main .wrapper .task-managment-panels .task-managment-panel .task-manager img {
  display: block;
  width: 100%;
  height: 100%;
}
main .wrapper .task-managment-panels .task-managment-panel.task-managment-panel__checking {
  display: none;
}
main .wrapper .task-managment-panels .task-managment-panel.task-managment-panel__removing {
  display: none;
}
main .wrapper .task-managment-panels .task-managment-panel.task-managment-panel__editing {
  display: none;
  justify-content: space-around;
}

@media screen and (min-width: 768px) {
  body .elipse {
    transform: translateX(0) translateY(0);
    left: 40%;
    top: -3%;
    transform: translateX(-50%);
  }
  main .wrapper .task-selectors__box .task-selector__item__description {
    font-size: 1.8rem;
    margin-top: 0.5rem;
  }
  main .wrapper .tasks-list__element {
    min-height: 100px;
    max-height: 100px;
  }
  main .wrapper .tasks-list__element__name {
    height: 100px;
    line-height: 100px;
    font-size: 2rem;
  }
}
@media screen and (min-width: 992px) {
  body .elipse {
    transform: translateX(0) translateY(0);
    left: 45%;
    top: -3%;
    transform: translateX(-50%);
  }
  main .wrapper .tasks-list__element {
    min-height: 120px;
    max-height: 120px;
  }
  main .wrapper .tasks-list__element__name {
    height: 120px;
    line-height: 120px;
    font-size: 2.2rem;
  }
  main .wrapper .task-managment-panels .task-managment-panel .task-manager {
    width: 55px;
    height: 55px;
  }
}
@media screen and (min-width: 1200px) {
  .elipse {
    transform: translateX(0) translateY(0);
    left: 45%;
    top: -3%;
    transform: translateX(-50%);
  }
  main .wrapper .task-selectors {
    width: 80%;
  }
  main .wrapper .task-selectors__box .task-selector__item {
    width: 180px;
  }
  main .wrapper .tasks-list {
    width: 80%;
  }
  main .wrapper .tasks-list__element {
    min-height: 140px;
    max-height: 140px;
    border: 6px solid transparent;
    margin-left: auto;
    margin-right: auto;
  }
  main .wrapper .tasks-list__element__name {
    height: 140px;
    line-height: 140px;
  }
  main .wrapper .task-managment-panels {
    width: 80%;
  }
}/*# sourceMappingURL=mainpage.css.map */