@use "./colors" as colors;
@use "./fonts";
@use "./config";

.add-task__window {
	position: absolute;
	width: 90vw;
	height: 80vh;
	padding: 1rem 1rem;
	top: 50%;
	left: 108%;
	transform: translateY(-50%);
	background: colors.$search-gradient;
	border: 2px solid colors.$add-window-borders;
	box-shadow: 0px 0px 10px 3px colors.$glow;
	border-radius: 14px;
	z-index: 2;
	transition: transform 0.5s;
	.new-task {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		&__title {
			width: 100%;
			margin-bottom: 1rem;

			&__label {
				display: block;
				padding: 0.5rem 0;
				padding-left: 0.5rem;
				margin-bottom: 0.3rem;
				font-size: 1.5rem;
				color: colors.$pure-white;
			}
			&__input {
				width: 100%;
				padding: 2rem 0;
				padding-left: 1.5rem;
				border-radius: 15px;
				border: 2px solid colors.$add-window-borders;
				font-size: 2rem;
				background-color: colors.$input-background;
				color: colors.$pure-white;
			}
			&__input::placeholder {
				color: colors.$add-window-borders;
			}
		}
		&__metadata {
			width: 100%;
			padding: 1rem 0;
			margin-bottom: 1rem;
			background: transparent;
			border: 2px solid colors.$add-window-borders;
			border-radius: 15px;
			&__importance {
				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-evenly;
				padding: 0 1.5rem 1rem 1.5rem;
				&__p {
					color: colors.$pure-white;
					font-size: 1.6rem;
				}
				&__checkbox {
					width: 30px;
					height: 30px;
					border-radius: 50%;
					border: 2px solid colors.$pitch-black;
					cursor: pointer;
					img {
						display: none;
						width: 100%;
						height: 100%;
					}
				}
			}
			&__deadline {
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				padding: 0 1.5rem 1rem 1.5rem;
				border-bottom: 2px solid colors.$add-window-borders;
				margin-bottom: 2rem;
				&__p {
					color: colors.$pure-white;
					font-size: 1.6rem;
					align-content: center;
				}
				input[type="date"] {
					position: relative;
					display: block;
					width: 40%;
					height: 100%;
					padding: 1.5rem 0.5rem;
					text-align: center;
					color: colors.$pure-white;
					background-color: colors.$input-background;
					border-radius: 15px;
					border: none;
					overflow: hidden;
				}
				input[type="date"]::-webkit-calendar-picker-indicator {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					width: auto;
					height: auto;
					background: transparent;
					color: transparent;
				}
			}
		}
		&__description {
			width: 100%;
			flex: 1;
			margin-bottom: 2rem;
			touch-action: auto;
			&__textarea {
				width: 100%;
				height: 100%;
				padding: 1.5rem 1.5rem;
				background: colors.$input-background;
				border: 2px solid colors.$add-window-borders;
				border-radius: 15px;
				font-size: 2rem;
				color: colors.$pure-white;
				resize: none;
				touch-action: auto;
			}
			&__textarea::placeholder {
				color: colors.$add-window-borders;
			}
		}
		&__buttons {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			border-radius: 15px;
			margin-bottom: 2rem;

			&__button {
				display: block;
				width: 30%;
				padding: 1.5rem 0;
				border-radius: 15px;
				border: none;
				box-shadow: 0px 0px 6px colors.$glow;
				background: none;
				cursor: pointer;
				.button-label {
					height: 100%;
					color: colors.$pure-white;
					font-size: 1.5rem;
					text-align: center;
					padding: 0.2rem;
					align-content: center;
				}
			}
			&__button__close {
				background-color: #e14b3e;
			}
			&__button__add-next {
				background-color: #adadad;
			}
			&__button__insert {
				background-color: #73aa6e;
			}
		}
		&__state {
			width: 100%;
			padding: 2rem 0;
			padding-left: 0.5rem;
			color: colors.$pure-white;
			font-size: 1.7rem;
			align-content: center;
		}
	}
}
.add-task__window__show {
	transform: translateX(-115%) translateY(-50%);
}

@media screen and (max-height: 568px) {
	.add-task__window {
		height: 95vh;
		.new-task {
			&__metadata {
				&__deadline {
					input[type="date"] {
						width: 50%;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.add-task__window {
		height: 60vh;
		.new-task {
			&__metadata {
				&__deadline {
					&__p {
						font-size: 1.8rem;
					}
				}
				&__importance {
					&__p {
						font-size: 1.8rem;
					}
				}
			}
			&__state{
				font-size: 2.5rem;
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	.add-task__window {
		width: 80%;
		height: 65vh;
	}
	.add-task__window__show {
		transform: translateX(-122.5%) translateY(-50%);
	}
}
