@use "themes";

$background-color: var(--background-color);
$pure-white: var(--pure-white);
$pitch-black: var(--pitch-black);
$subtitle: var(--subtitle);
$search-gradient: var(--search-gradient);
$task-gradient: var(--tast-gradient);
$elipse-gradient: var(--elipse-gradient);
$active-button: var(--active-button);
$switches-border: var(--switches-border);
$add-window-borders: var(--add-window-borders);
$glow: var(--glow);
$input-background: var(--input-background);
$cancel-button: var(--cancel-button);
$accept-button: var(--accept-button);
$panel-buttons-inversion: var(--panel-buttons-inversion);
