:root, [data-theme="dark"] {
    // dark mode colors
    --background-color: #0b0b13;
    --pure-white: #fff;
    --pitch-black: #000;
    --subtitle: #a1a1aa;
    --search-gradient: linear-gradient(90deg, #303059 0%, #6666bf 100%);
    --task-gradient: linear-gradient(90deg, #4b4b8e 0%, #151528 100%);
    --elipse-gradient: linear-gradient(
        180deg,
        rgba(50, 50, 94, 0.15) 4.81%,
        rgba(155, 155, 253, 0.15) 82.69%
    );
    --active-button: #7fbd62;
    --switches-border: #7c5cff;
    --add-window-borders: rgba(255, 255, 255, 0.5);
    --glow: #80b3ff;
    --input-background: #121547;
    --cancel-button: #e14b3e;
    --accept-button: #73aa6e;
    --panel-buttons-inversion: 0; // do not invert button colors
    --selector-background-color: #333;
}

[data-theme="light"] {
    // light theme
    --text-white: #1a1a1a;
    --search-grad: linear-gradient(90deg, #d1d1e9 0%, #a1a1cf 100%);
    --input-bg: #ffffff;

    --background-color: #f4f4f9;
    --pure-white: #000;
    --pitch-black: #fff;
    --subtitle: #a1a1a1;
    --search-gradient: linear-gradient(90deg, #a0a0f9 0%, #c6c6ff 100%);
    --task-gradient: linear-gradient(90deg, #ebebfe 0%, #f5a5f8 100%);
    --elipse-gradient: linear-gradient(
        180deg,
        rgba(50, 50, 94, 0.15) 4.81%,
        rgba(155, 155, 253, 0.15) 82.69%
    );
    --active-button: #7fbd62;
    --switches-border: #7c5cff;
    --add-window-borders: rgba(255, 255, 255, 0.5);
    --glow: #80b3ff;
    --input-background: #a1a1a1;
    --cancel-button: #e14b3e;
    --accept-button: #73aa6e;
    --panel-buttons-inversion: 1; // invert button colors
    --selector-background-color: #aaa;
}


[data-theme="contrast"] {
    --background-color: #000000;
    --pure-white: #ffff00;
    --pitch-black: #000;
    --subtitle: #a1a1aa;
    --search-gradient: linear-gradient(90deg, #101010 0%, #101010 100%);
    --task-gradient: linear-gradient(90deg, #202020 0%, #202020 100%);
    --elipse-gradient: linear-gradient(
        180deg,
        rgba(50, 50, 94, 0.15) 4.81%,
        rgba(155, 155, 253, 0.15) 82.69%
    );
    --active-button: #7fbd62;
    --switches-border: #7c5cff;
    --add-window-borders: rgba(255, 255, 255, 0.5);
    --glow: #80b3ff;
    --input-background: #000000;
    --cancel-button: #e14b3e;
    --accept-button: #73aa6e;
    --panel-buttons-inversion: 0; // do not invert button colors
    --selector-background-color: #fff;
}
