@use "./colors" as colors;
@use "./fonts";
@use "./config";
@use "./add-window";
@use "./task-preview";
@use "./edit-task-window";

body {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: colors.$background-color;
}

.elipse {
	position: absolute;
	top: 0;
	left: 0;
	width: 260px; //Intentional view port height usage instead of % or vw
	height: 200px;
	border-radius: 50% 50%;
	transform: translateX(-15%) translateY(-18%);
	background: colors.$elipse-gradient;
	z-index: -1;
}
.shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgb(0, 0, 0, 0.6);
	opacity: 0;
	z-index: -1;
	transition: opacity 0.5s;
}

header {
	margin-bottom: 5rem;
	h1 {
		width: 80%;
		margin: 0 auto;
		padding-top: 3.3rem;
		font-family: "Poppins", sans-serif;
		font-style: italic;
		font-weight: 600;
		font-size: 6.5rem;
		color: colors.$pure-white;
		text-align: center;
		letter-spacing: -1.224px;
	}
	h2 {
		width: 90%;
		margin: 0 auto;
		text-align: center;
		color: colors.$subtitle;
		font-family: "Inter", sans-serif;
		font-size: 2rem;
		font-style: normal;
		font-weight: 400;
		letter-spacing: -0.34px;
	}
}
main {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 206px);
	width: 100%;
	.wrapper {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
		max-width: 2560px;
		// overflow: hidden;
		.search-bar {
			width: 90%;
			height: 54px;
			margin: 0 auto;
			background: colors.$search-gradient;
			border-radius: 14px;
			margin-bottom: 2rem;
			&__input {
				width: 100%;
				height: 100%;
				background: none;
				border: none;
				padding-left: 1rem;
				font-size: 2rem;
				color: colors.$pure-white;
			}
		}
		.task-selectors {
			width: 90%;
			margin: 0 auto;
			margin-bottom: 2rem;
			background: none;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			&__box {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 0.5rem;
				width: 100%;

				.task-selector__item {
					width: 30%;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-between;
					cursor: pointer;
					&__button {
						position: relative;
						width: 100%;
						padding: 2rem 1rem;
						display: flex;
						flex-direction: column;
						border-radius: 20px;
						background-color: #333;
						border: 2px solid #7c5cff;
						transition: background-color 0.3s;
						&__switch {
							position: absolute;
							top: 50%;
							left: 0;
							width: 40%;
							height: 90%;
							border-radius: 20px;
							transform: translateY(-50%);
							background-color: colors.$pure-white;
							transition:
								transform 0.5s,
								background-color 0.3s;
						}
						.moved {
							transform: translateX(150%) translateY(-50%);
							background-color: rgba(255, 255, 255, 0.3);
						}
					}
					.active {
						background-color: colors.$active-button;
					}
					.disabled {
						opacity: 0.4;
					}

					&__description {
						width: 100%;
						font-size: 1.5rem;
						color: colors.$subtitle;
						text-align: center;
					}
				}
				.checking {
					display: none;
				}
				.removing {
					display: none;
				}
			}
			.checking {
				justify-content: center;
			}
			.removing {
				justify-content: center;
			}
		}

		.tasks-list {
			width: 90%;
			margin: 0 auto;
			flex: 1;
			display: block;
			overflow-y: scroll;
			&__element {
				display: flex;
				align-items: center;
				justify-content: center;
				min-height: 70px;
				max-height: 70px;
				width: 100%;
				margin-bottom: 2rem;
				border-radius: 15px;
				background: colors.$search-gradient;
				background-clip: padding-box;
				border: 2px solid transparent;
				cursor: pointer;
				transition:
					border 0.3s,
					opacity 0.3s;
				&__name {
					height: 70px;
					flex: 1;
					padding-left: 1.5rem;
					font-size: 1.5rem;
					color: colors.$pure-white;
					line-height: 70px;
					overflow: hidden;
				}

				&__icons {
					// width: 20%;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-evenly;
					&__status {
						padding: 0 1rem;
						// height: 70px;
						// align-content: center;
						// vertical-align: middle;
						&__icon {
							display: block;
							width: 25px;
							height: 25px;
						}
					}

					&__importance {
						padding: 0 1rem;
						// height: 70px;
						// align-content: center;
						&__icon {
							display: block;
							width: 25px;
							height: 25px;
						}
					}
					&__checkbox {
						padding: 0 1rem;
						// height: 70px;
						// align-content: center;
						overflow: hidden;
						&__icon-box {
							width: 25px;
							height: 25px;
							border-radius: 50%;
							border: 2px solid colors.$pure-white;
							// overflow: hidden;
							img {
								display: block;
								width: 100%;
								height: 100%;
								overflow: hidden;
								opacity: 0;
							}
							.checked {
								opacity: 1;
							}
						}
					}
				}
			}

			&__element:hover {
				border: 2px solid colors.$pure-white;
			}
			.disabled {
				opacity: 0.4;
				pointer-events: none;
			}
			&__empty {
				width: 80%;
				height: 50%;
				margin: 0 auto;
				font-size: 4rem;
				text-align: center;
				color: colors.$subtitle;
				align-content: center;
				font-style: italic;
			}
		}
		.selected-tasks-counter {
			width: 80%;
			margin: 0 auto;
			font-size: 1.8rem;
			color: colors.$pure-white;
			text-align: center;
			padding: 0.5rem 0;
		}
		.task-managment-panels {
			width: 90%;
			margin: 0 auto;
			height: 10vh;
			align-content: center;
			.task-managment-panel {
				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				.task-manager {
					display: block;
					width: 45px;
					height: 45px;
					background: none;
					border: none;
					cursor: pointer;
					img {
						display: block;
						width: 100%;
						height: 100%;
					}
				}
			}
			.task-managment-panel.task-managment-panel__checking {
				display: none;
			}
			.task-managment-panel.task-managment-panel__removing {
				display: none;
			}
			.task-managment-panel.task-managment-panel__editing {
				display: none;
				justify-content: space-around;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	body {
		.elipse {
			transform: translateX(0) translateY(0);
			left: 40%;
			top: -3%;
			transform: translateX(-50%);
		}
	}
	main {
		.wrapper {
			.task-selectors {
				&__box {
					.task-selector__item {
						&__description {
							font-size: 1.8rem;
							margin-top: 0.5rem;
						}
					}
				}
			}
			.tasks-list {
				&__element {
					min-height: 100px;
					max-height: 100px;

					&__name {
						height: 100px;
						line-height: 100px;
						font-size: 2rem;
					}
					// &__status {
					// 	height: 100px;
					// }
					// &__importance {
					// 	height: 100px;
					// }

					// &__checkbox {
					// 	height: 100px;
					// }
				}
			}
		}
	}
}

@media screen and (min-width: 992px) {
	body {
		.elipse {
			transform: translateX(0) translateY(0);
			left: 45%;
			top: -3%;
			transform: translateX(-50%);
		}
	}
	main {
		.wrapper {
			.tasks-list {
				&__element {
					min-height: 120px;
					max-height: 120px;

					&__name {
						height: 120px;
						line-height: 120px;
						font-size: 2.2rem;
					}
					// &__status {
					// 	height: 120px;
					// }
					// &__importance {
					// 	height: 120px;
					// }
					// &__checkbox {
					// 	height: 120px;
					// }
				}
			}
			.task-managment-panels {
				.task-managment-panel {
					.task-manager {
						width: 55px;
						height: 55px;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	.elipse {
		transform: translateX(0) translateY(0);
		left: 45%;
		top: -3%;
		transform: translateX(-50%);
	}
	main {
		.wrapper {
			.task-selectors {
				width: 80%;
				&__box {
					.task-selector__item {
						width: 180px;
					}
				}
			}

			.tasks-list {
				width: 80%;
				&__element {
					min-height: 140px;
					max-height: 140px;
					border: 6px solid transparent;
					margin-left: auto;
					margin-right: auto;
					&__name {
						height: 140px;
						line-height: 140px;
					}
					// &__status {
					// 	height: 140px;
					// }
					// &__importance {
					// 	height: 140px;
					// }
					// &__checkbox {
					// 	height: 140px;
					// }
				}
			}
			.task-managment-panels {
				width: 80%;
			}
		}
	}
}
