.phone-mockup {
    float: right;
    width: 250px;
    margin-left: 20px;
    border: 2px solid #333;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.1);
}

.phone-right {
    float: right;
    width: 30%
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
